{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
    <h1>Поздравление с Новым годом&#127876;</h1>
    {% if friend_gender == 'male' %}
    <div>
        Дорогой {{ friend_name }}! Поздравляю тебя с наступающим Новым годом! 
        Желаю тебе счастливых моментов, сбывающихся мечт и невероятных приключений! 
        Пусть новый год принесет тебе только радость, успехи и замечательные возможности!
        P.S: улыбайся чаще, ты очень милый! Улыбка тебе к лицу&#129392;
    </div><br>
    {% else %}
    <div>
        Дорогая {{ friend_name }}! Поздравляю тебя с наступающим Новым годом! 
        Желаю тебе счастливых моментов, сбывающихся мечт и невероятных приключений! 
        Пусть новый год принесет тебе только радость, успехи и замечательные возможности!
        P.S: улыбайся чаще, ты очень милая! Улыбка тебе к лицу&#129392;
    </div><br>
    {% endif %} 
    <div>С наилучшими пожеланиями, {{ sender_name }}&#128150;</div><br>
    <div><img src="/static/Новогодняя картинка.jpg" style="height: 350px; border-radius: 30px;"></div>
{% endblock %}