img{
    height: 500px;
    border: solid rgb(13, 88, 13) 3px;
    border-radius: 30pt;
}

body{
    padding: 5px;
    background-color: rgb(222, 165, 134);
    color: rgb(50, 31, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

header{
    color: black;
    font-size: 19pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div{
    color: black;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    color: black;
    padding: 5px;
    font-size: 14pt;
    text-align: right;
    position: fixed;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    bottom: 0;
}

a {
    color: rgb(146, 75, 21);
    text-decoration: none;
}

a:visited{
    color: rgb(13, 88, 13);
    font-style: italic;
}