{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block bodyid %}kartinki{% endblock %}

{% block main %}
    <h1>Пионы</h1>
    <div>
        Свое название эти прекрасные цветы получили в Древнем Риме в честь Пейана, 
        мифического персонажа, личного врача богов римского пантеона. Также существует 
        миф, что цветок получил свое название от греческого слова «paionios», что в переводе 
        означает «исцеляющий».
    </div><br>
    <div>
        Пионы бывают любого цвета, кроме голубого. Ни одного сорта голубых пионов учеными 
        в природе не зафиксировано, несмотря на множество рекламных обещаний на Алиэкспрессе. Крашенные 
        цветы, конечно, вещь интересная, но тратить на это деньги мы бы вам не советовали.
    </div><br>
    <div>
        Цветок пиона является символом Китая, штата Индиана в США, и знаком 12-й 
        годовщины брака. Рекомендуется включать пион в букет невесты, чтобы брак был крепким и 
        счастливым. В Древнем Риме пион впервые упоминается в качестве лекарственного цветка.
    </div><br>
    <img style="height: 500px;" src="{{ url_for('static', filename='flowers.jpg') }}">

    <h1>Ежевика</h1>
    <div>
        Ежевика растет на кустах или кустовых лианах с гибкими колючими ветвями, относится к семейству 
        Рубус. Цветение начинается в июне белыми цветами, собранными в соцветия в виде кисти. Ягоды — сложные 
        костянки, очень похожи на малину, в процессе созревания сначала приобретают зеленый, затем красный и 
        темно-фиолетовый, черный цвет, иногда с налетом. На вкус ежевика сочная, кисло-сладкая и чуть 
        смолистая, сок красит кожу и одежду.
    </div><br>
    <div>
        Ягода нормализует работу желудочно-кишечного тракта и предотвращает запоры, восстанавливает 
        уровень глюкозы в крови, повышает уровень гемоглобина, борется с «плохим» холестерином, препятствует 
        образованию холестериновых бляшек и развитию атеросклероза. 
        Кроме того, ежевика славится антимикробным и противовоспалительным действием.
    </div><br>
    <img style="height: 500px;" src="{{ url_for('static', filename='yezhevika.webp') }}">

    <h1>Котята</h1>
    <div>Интересные факты о котятах:</div>
    <ol>
        <li>Котята рождаются с шерстью в виде тонкого пуха, с плотно закрытыми глазами прижитыми к голове ушами.</li>
        <li>На 8-16 день, открываются глаза. Причём, по одному.</li>
        <li>У всех новорождённых котят глаза имеют голубой или синий цвет.</li>
        <li>Первые 7 дней котята ползают, усиленно работая передними лапами, а ко второй неделе подключаются и задние.</li>
        <li>Проявлять интерес и осознанно играть котята начинают с 1,5 месяцев.</li>
    </ol>
    <img style="height: 500px;" src="{{ url_for('static', filename='cats.jpg') }}">

    <h1>Загородные дома</h1>
    <div>
        Слово «коттедж» существует уже давно, и благодаря его использованию в разных культурах 
        и сообществах оно стало обозначать категорию дома, а не один конкретный архитектурный стиль. 
        Несмотря ни на что, у коттеджей есть одна общая черта: это небольшие дома с большим количеством очарования (внутри и снаружи).
    </div><br>
    <div>
        Термин «коттедж» и наиболее тесно связанный с ним стиль дома возникли в Англии в средние века. Крестьяне-фермеры 
        были известны как «коттеры», а их скромные сельские дома стали называться коттеджами. 
        Даже сегодня дом в коттеджном стиле в Великобритании имеет то же 
        описание, что и сотни лет назад: дома представляют собой простые жилища, предназначенные для защиты 
        от холода, обычно с одной большой гостиной внизу и двумя спальнями наверху под соломенной крышей.
    </div><br>
    <img style="height: 500px;" src="{{ url_for('static', filename='house.jpg') }}">

    <h1>Видеоигры</h1>
    <div>
        Все игры можно разделить на три основные группы. <b>ММО — массовые мультиплеерные онлайн игры</b>. Игроки вместе путешествуют по 
        большому открытому миру, где знакомятся, общаются и побеждают монстров. Из таких игр среди подростков популярны Genshin Impact, 
        World of Warcraft и Roblox.
    </div><br>
    <div>
        <b>Сессионные онлайн-игры</b>. Обычно это стрелялки или спортивные симуляторы, в которых нужно за ограниченное время добиться цели. 
        Сохранений нет, каждый раз весь процесс начинается заново. Родители наверняка слышали о Brawl Stars или Fortnite — это как раз сессионные игры.
    </div><br>
    <div>
        <b>Одиночные игры</b>, похожие на интерактивное кино. В них есть сюжет, который часто зависит от действий игрока, персонажи с характером и конечная цель. 
        Самые популярные игры этой категории — The Last of Us, Detroit: Become Human, Uncharted и «Ведьмак 3».
    </div><br>
    <img style="height: 500px;" src="{{ url_for('static', filename='videogames.jpg') }}">

{% endblock %}