{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Оплата</h1>

    <div>
        Сумма к оплате: {{ price }} руб.
    </div><br>

    <form action="/lab3/success">
        <div>Номер банковской карты:</div>
        <label>
            <input type="text" name="card" pattern="\d{16}"> <!--В поле нужно ввести 16 цифр-->
        </label>

        <div>Имя держателя карты:</div>
        <label>
            <input type="text" name="name">
        </label>

        <div>Номер CVV:</div>
        <label>
            <input type="text" name="cvv" size="3" pattern="\d{3}">
        </label><br><br>

        <div>
            <button type="submit">Оплатить</button>
            <a href="/lab3/order">Отказаться</a> <!--Перенаправление к предыдущей форме-->
        </div>
    </form>
{% endblock %}